@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
        <div class="container text-center">
           <img src="~/img/book.png" class="w-25" alt="Book">
        </div>
        <div class="container text-center">
           <h1 class="display-4">@Model.txt</h1>
        </div>
</div>
